.table {
  width: 80%;
  border-spacing: 0;
  font-family: 'Nunito Sans', sans-serif;
}

table, th, tr, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th {
  background-color: grey !important;
  height: 25px;
  font-size: 16px;
  font-weight: 700;
}

thead {
  background-color: grey !important;
}

tr {
  text-align: center;
}

td {
  color: black;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
}
